@font-face {
  font-family: 'glacial-indifference';
  src: url('../fonts/glacial-indifference/GlacialIndifference-Regular.otf'); /* Default */
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100vh;
  margin: 0px;
  background: #fff;
  font-family: 'glacial-indifference';
  font-size: 1.5em;
  height: 100%;
  text-align: center;
  background-color: #FFF;
}

body {
  text-align: center;
  height: 100vh;
  margin: 0px;
}

div#content {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
}
div#title {
  position: absolute;
  height: 100px;
  line-height: 100px;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 2em;
  text-align: center;
  color: #033;
}
div#subtitle {
  position: absolute;
  font-size: 1.5em;
  height: 75px;
  line-height: 75px;
  left: 0px;
  top: 100px;
  width: 100%;
  text-align: center;
  color: #066;
}

div#cv_frame {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
}
div#cv_img {
  position: absolute;
  width: 25%;
  min-width: 200px;
  height: 25%;
  margin: auto;
  top: 40vh;
  right: 0px;
  display: inline-block;
  background: url(../img/cv_focus.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div#cv_img:hover {
  background-color: #F9F9F9;
}

div#github_frame {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  top: 0px;
  text-align: center;
}
div#github_img {
  position: absolute;
  width: 25%;
  min-width: 200px;
  height: 25%;
  margin: auto;
  top: 40vh;
  left: 0px;
  display: inline-block;
  background: url(../img/github_focus.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div#github_img:hover {
  background-color: #F9F9F9;
}

div#SHA1_cv {
  position: absolute;
  font-size: 1.5em;
  width: 100%;
  height: 100px;
  left: 0px;
  bottom: 0px;
  color: #066;
}

@media only screen and (max-width: 1080px) {
  html{
    font-size: 5vw;
  }
  div#cv_frame {
    position: absolute;
    width: 100%;
    height: 50vh;
    left: auto;
    right: auto;
    top: 0px;
  }
  div#cv_img {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0vh;
    top: auto;
    margin: 0 auto;
    background: url(../img/cv_focus.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  div#github_frame {
    position: absolute;
    width: 100%;
    height: 50vh;
    left: auto;
    right: auto;
    top: 50vh;
  }
  div#github_img {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0vh;
    bottom: auto;
    margin: 0 auto;
    background: url(../img/github_focus.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  div#SHA1_cv {
    font-size: 4.5vw;
  }
}
